

body{
    font-family: Helvetica;
}


/* navigation bar */
.jumbotron{
    background-color: white;
}

.navbar{
    padding: 0px;
    margin: 50px 250px 8px 250px;
}

.navbar-brand{
    font-size: 24pt;
    font-weight: bold;
    margin: 0px;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}
  
.nav-item{
    margin: 0px 0px;
    padding: 5px 0px 0px 5px;
}

.nav-item:hover{
    font-weight: bold;
}

.active a{
    font-weight: bold;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
  }

.navbar a{
    color: black !important;
    display: inline;
    font-family: Helvetica;
    padding: 5px;
    text-decoration: none;
}

/* end navigation bar */


/* jumbotron */

.jumbotron{
    background-image: url(../images/mtbackground.png);
    background-size: cover;
    background-repeat: no-repeat;

}



.jumbotron h1, .jumbotron p{
    margin-left: 300px;
    padding: 0px;
    margin-bottom: 5px;
}

.jumbotron h1{
    font-weight: bold;
    font-size: 64pt;
    color: #394762;
}


.lead{
    font-size:14pt;
    color: black;
}

.names{
    margin-left: 150px !important;
    margin-bottom: 0px !important;
}


.tools{
    margin-bottom: 0px;
    margin-bottom: 0px !important;
}

.toolsheader{
    margin-bottom:0px;
}

.container{
    margin: 0px;
    padding: 0px;
}

.col-6{
    padding-left:120px;
    padding-right: 0px;
}

.title{
    font-weight: bold;
}

/* end jumbotron */


/* my process */

.problemsolution{
    margin-left: 332px;
    margin-right: 332px;
}

.problemsolution h2{
    font-weight: bold;
    color: #394762;
}

.problemsolution p{
    margin-bottom: 5px;
}

.headerq{
    margin-top: 40px;
    margin-bottom: 5px;
}

.solution{
    padding-left: 40px;
}

.process{
    margin-left: 332px;
    margin-right: 332px;
}

.process h2{
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #394762;
}

.process img{
    margin-top: 5px;
    margin-bottom:20px;
    margin-left: 80px;
}
/* end my process */


/* empathize */

.empathize{
    margin-left: 332px;
    margin-right: 332px;
    margin-top: 100px;
    margin-bottom: 5px;
}

.empathize img{
    padding-bottom: 30px;
}

.userresearch{
    padding-left: 40px;
}

.empathize h4{
    font-weight: bold;
    color: #394762;
}

.usessayingspeech img{
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 20px;
}

/* end empathize */

/* define */
.define{
    margin-left: 332px;
    margin-right: 332px;
    margin-top: 100px;
    margin-bottom: 5px;
}

.define h4{
    color: #394762;
    font-weight: bold;
    padding-left: 35px;
    padding-top: 15px;
}

.define p{
    padding-left: 35px;
    width: 250px;
}

.col-6{
    padding-left: 40px;
}

.goals{
    margin-left: 332px;
    margin-right: 332px;
    margin-top: 30px;
    margin-bottom: 5px;  
}

.need{
    padding-left:40px !important;
}

.goals h4{
    font-weight: bold;
    color: #394762;
}

.sectionHeading{
    margin-top: 40px;
    margin-left: 332px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #394762;
}

.problems{
    margin-top: 30px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 5px;
    padding:0px;
}

.container-fluid{
    padding: 0px !important;
}

.container-fluid img{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.cardContainer{
    padding: 0px;
    text-align: center;
}

/* end define */

/* ideate */
.ideate{
    margin-left: 332px;
    margin-right: 332px;
    margin-top: 100px;
    margin-bottom: 5px;
}

.ideate h4{
    color: #394762;
    font-weight: bold;
    padding-left: 12px;
    padding-top: 15px;
}

.ideate p{
    padding-left: 12px;
}

.ideateimg img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.userflow h4, .userflow p{
    padding:0px;
}

.userflow img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* end ideate */

/* prototype */
.prototype{
    margin-left: 332px;
    margin-right: 332px;
    margin-top: 120px;
    margin-bottom: 5px;
}

.prototype h4{
    color: #394762;
    font-weight: bold;
    padding-left: 12px;
    padding-top: 15px;
}

.prototype p{
    padding-left: 12px;
}

.prototypeimg img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* end prototype */

/* test */
.test{
    margin-left: 332px;
    margin-right: 332px;
    margin-top: 120px;
    margin-bottom: 5px;
}

.test h4{
    color: #394762;
    font-weight: bold;
    padding-left: 12px;
    padding-top: 15px;
}

.test p{
    padding-left: 12px;
}

.testing img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.testing h4{
    padding-left: 0px !important;
}
/* end test */

/* footer */
.card{
    margin-top: 100px;
}

.card p{
    margin-bottom: 0px;
    font-weight: bold;
}

.contactme{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    font-family: Helvetica;
}

.contactme a{
    color: black;
    font-weight: normal;
}
/* end footer */